* {
    box-sizing: border-box;
}

body {
    display: block;
}

.animation {
    border-style: solid;
    border-color: black;
    width: 95vw;
    height: 95vh;
}

.anime {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    margin: 0 auto;
    top: 30%;
    animation-direction: normal;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: horizontal;
}

.front {
    position: absolute;
    background: red;
    width: inherit;
    height: inherit;
    text-align: center;
    animation-name: front;
    animation-direction: normal;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

.back {
    position: absolute;
    background: blue;
    width: inherit;
    height: inherit;
    text-align: center;
    animation-name: back;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

@keyframes horizontal {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes front {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px);
    }
}

@keyframes back {
    from {
        transform: rotateZ(360deg) translateZ(-50px);

    }
    to {
        transform: rotateZ(0) translateZ(-50px);
    }

}

.back::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    transform: translateZ(1px);
}

.front::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    transform: translateZ(-1px);
